@import "bootstrap";
/* @import url('https://fonts.googleapis.com/css?family=Cabin+Sketch'); */


.clear {
  clear: both;
}

.circle {
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #f84342;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 11px;
  line-height: 16px;
  cursor: pointer;
  transform: rotate(11deg);
  -ms-transform: rotate(11deg); /* IE 9 */
  -webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'laconiclight', serif;
  font-style: italic;
  font-size: 16px;
}

.links a {
  color: black;
  font-size: 22px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'tensoregular', sans-serif;
  font-weight: bold;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: 'laconicregular', sans-serif;
  font-weight: bold;
  font-size: 48px;
/* font-family: 'Cabin Sketch', cursive; */
/* font-family: "Helvetica Neue", Helvetica, sans-serif;
font-weight: 600;
letter-spacing: -1.5px; */
}

h2 {
  font-family: 'tensoregular', sans-serif;
  font-style: italic;
  font-size: 28px;
}

.next-quote {
  color: #f84342;
  font-family: 'tensoregular', sans-serif;
  font-style: italic;
  font-size: 22px;
}

.footer-blurb {
  font-family: 'laconiclight', serif;
  font-style: italic;
  text-align: right;
  font-size: 14px;
}

.logo:hover {
  text-decoration: none;
}

.about {
  font-family: 'tensoregular', sans-serif;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.modal {
  font-family: 'tensoregular', sans-serif;
}

h2 span {
  color: #dddddd;
  font-family: 'laconicregular', sans-serif;
}

::selection {
  background-color: #f84342;
}

/*Placeholder Color*/
.form-control::-webkit-input-placeholder {
color: #dddddd;
}
.form-control:-moz-placeholder { /* Firefox 18- */
color: #dddddd;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
color: #dddddd;
}
.form-control:-ms-input-placeholder {
color: #dddddd;
}